
Server/.vs/Server/v16/.suo
*.db
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.user
*.obj
ServerProject/Debug/ServerProject.ilk
ServerProject/x64/Debug/ServerProject.ilk
ServerProject/.vs/ServerProject/v16/.suo
ServerProject/.vs/ServerProject/v16/Browse.VC.opendb
ServerProject/ServerProject/ServerProject.vcxproj
ServerProject/x64/Debug/ServerProject.exe
